.script-editor-output-main-div {
  position: relative;
  width: 100%;
  height: calc(100% - 1.875rem);
  background-color: #181b1e;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;

  .script-editor-output-lines {
    display: block;
    height: 100%;
    width: 2rem;
    padding-right: 2.5rem;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 3px;
      height: 3px;
      display: none;
    }
  }
  .script-editor-output-content {
    height: 100%;
    width: calc(100% - 1.5rem);
    overflow-x: auto;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #4d4e4f;
    }
  }
}

.script-editor-output-main {
  display: flex;
  font-family: 'Fira Mono', monospace;
  font-weight: normal;
  font-size: 14px;
  font-feature-settings: 'liga' 0, 'calt' 0;
  line-height: 18px;
  letter-spacing: 0px;
  height: 18px;

  .error-message {
    color: #d62915;

    .error-message-ban-icon {
      margin-right: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.editor-output-text {
  margin-right: 0.75rem;
}

.number {
  color: #b5cea8;
}

.string {
  color: #d68d72;
}

.hex {
  white-space: nowrap;
  width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #5bb498;
}

.editor-output-text-page-number {
  color: #858585;
  // padding-right: 0.5rem;
  width: 1.5rem;
  background: #181b1e;
  text-align: right;
  z-index: 1;
  height: 18px;
  font-size: 0.8125rem;
}

.editor-output-label {
  color: #9477cb;
}

// .whisper-tooltip {
//     .rs-tooltip-inner {
//         color: #cbcccc !important;
//         font-size: 0.875rem;
//         background-color: #252526 !important;
//         border-radius: unset !important;
//     }
// }
