.script-editor-output-main-div {
  position: relative;
  width: 100%;
  height: calc(100% - 1.875rem);
  background-color: #181b1e;
}

.script-editor-output-main {
  display: flex;
  font-family: 'Fira Mono', monospace;
  font-weight: normal;
  font-size: 14px;
  font-feature-settings: 'liga' 0, 'calt' 0;
  line-height: 18px;
  letter-spacing: 0px;
  height: 18px;

  .error-message {
    color: #d62915;

    .error-message-ban-icon {
      margin-right: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.editor-output-text {
  margin-right: 0.75rem;
}

.number {
  color: #b5cea8;
}

.string {
  color: #d68d72;
}

.hex {
  white-space: nowrap;
  width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #5bb498;
}

.editor-output-text-page-number {
  color: #858585;
  padding-right: 0.5rem;
  width: 1.5rem;
  position: absolute;
  background: #181b1e;
  text-align: right;
  z-index: 1;
}

.editor-output-label {
  color: #9477cb;
}

// .whisper-tooltip {
//     .rs-tooltip-inner {
//         color: #cbcccc !important;
//         font-size: 0.875rem;
//         background-color: #252526 !important;
//         border-radius: unset !important;
//     }
// }

.tooltip {
  position: relative;
  display: inline-block;
  color: #cbcccc !important;
  border-radius: unset !important;
  left: 1.5rem;

  .tooltiptext {
    visibility: hidden;
    background-color: #252526 !important;
    color: #cbcccc;
    padding: 0.25rem 0.375rem;
    border: 1px solid #44474b;
    position: absolute;
    font-size: 1rem;
    z-index: 1;
    top: -5px;
    left: 100%;
    word-wrap: break-word;
    max-width: 15rem;
  }

  &:hover {
    .tooltiptext {
      visibility: visible;
      transition-delay: 0.5s;
    }
  }
}
