.script-editor-output-main {
    display: flex;
    font-family: "Fira Mono", monospace;
    font-weight: normal;
    font-size: 14px;
    font-feature-settings: "liga" 0, "calt" 0;
    line-height: 18px;
    letter-spacing: 0px;
    height: 18px;

    .error-message {
        color: #d62915;

        .error-message-ban-icon {
            margin-right: 0.5rem;
        }
    }
}

.editor-output-text {
    color: #b5cea8;
    margin-right: 0.75rem;
}

.editor-output-text-page-number {
    color: #c6c6c6;
    text-align: end;
    margin-right: 0.75rem;
    min-width: 1rem;
}
