// .script-wiz-monaco-editor .slider {
//   width: 3px !important;
// }

.script-wiz-monaco-editor {
  .monaco-editor {
    position: absolute;
    left: -0.5rem;
    right: 0;

    .overflow-guard {
      .monaco-scrollable-element {
        .decorationsOverviewRuler {
          display: none;
          opacity: 0;
        }

        .invisible {
          display: none !important;
          opacity: 0 !important;

          &:hover {
            display: none !important;
            opacity: 0 !important;
          }
        }
      }
    }

    .hover-contents {
      max-width: 15rem !important;
    }
  }
}
