// .script-wiz-monaco-editor .slider {
//   width: 3px !important;
// }

.script-wiz-monaco-editor {
  .monaco-editor {
    top: 2rem;

    .overflow-guard {
      .monaco-scrollable-element {
        .decorationsOverviewRuler {
          position: fixed !important;
        }

        .invisible {
          position: initial !important;
        }
      }
    }
  }
}
