{
    "trailingComma": "all",
    "tabWidth": 4,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxBracketSameLine": false,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": true,
    "useTabs": false,
    "vueIndentScriptAndStyle": false
}
