.tx-import-content {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 1rem;

  .tx-import-networks {
    margin-right: auto;

    .rs-radio-group-inline {
      .rs-radio {
        .rs-radio-checker label {
          color: #000;
        }
      }
    }
  }

  .tx-import-input-group {
    border: 1px solid #ccc;
    width: 34rem;
    margin-right: 1rem;

    .rs-input {
      background-color: #fff !important;
      margin-right: 0.5rem;
      color: #292d33 !important;
    }
  }

  .rs-btn {
    background-color: #ccc !important;
    color: #292d33 !important;

    &:hover {
      color: #e9ebf0 !important;
      background-color: #3c3f43 !important;
    }
  }

  svg {
    color: black;
    margin: 0.5rem 0.5rem 0px 0px;
    cursor: pointer;
  }
}
