.script-editor-main-div {
    height: calc(100% - 3rem);
    width: 100%;

    .script-editor-container {
        width: 100vw;
        background: #181b1e;
        display: flex;
        min-height: calc(100% - 1.5rem);

        .script-editor-sub-item {
            /* height: 100%; */
            width: 50%;
        }
    }
}

.scroll {
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.scroll::-webkit-scrollbar-track {
    background: transparent;
}

.scroll::-webkit-scrollbar-thumb {
    background: #4d4e4f;
}
