.tx-output-main {
  background-color: #ccc;
  padding: 1rem;
  border-radius: 0.375rem;
  margin-top: 0.5rem;
}

.tx-output-item {
  margin: 0.5rem 0;
}

.tx-output-button {
  width: 100% !important;
  margin: 1rem 0;
}
