.tx-input-main {
  background-color: #ccc;
  padding: 1rem;
  border-radius: 0.375rem;
  margin-top: 0.5rem;

  .tx-input-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.25rem;

    .tx-input-index {
      font-size: 1rem;
      font-weight: 600;
    }

    .tx-input-close-icon {
      color: #e9ebf0;
      background: #292d33;
      width: 2rem;
      height: 2rem;
      border-radius: 6px;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }

  .rs-checkbox-checker {
    padding-left: 0 !important;

    label {
      .rs-checkbox-wrapper {
        left: 0 !important;
      }

      .tx-input-confidental {
        padding-left: 1.5rem !important;
      }
    }
  }
}

.tx-input-item-double {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .tx-input-label {
    width: 49%;

    .tx-input-item {
      margin: 0.5rem 0;
    }
  }
}
