.transaction-template-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: #000;
  font-size: 0.875rem;
}

.vertical-line {
  width: 0.125rem;
  background-color: #ccc;
  display: flex;
  height: 44vmin;
  align-self: start;
  margin-top: 0.5rem;
}

.transaction-inputs {
  display: block;
  align-self: start;
  width: 100%;
  height: 100%;
  margin-right: 1rem;
}

.transaction-outputs {
  display: block;
  align-self: start;
  width: 100%;
  height: 100%;
  margin-left: 1rem;
}

.transaction-template-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.transaction-template-main .rs-input {
  background-color: #fff !important;
  color: #000 !important;
}

.tx-template-button {
  width: 100% !important;
  margin: 1rem 0;
  background-color: #ccc !important;
  color: #000 !important;

  &:hover {
    color: #e9ebf0 !important;
    background-color: #3c3f43 !important;
  }
}
