.tx-outputs {
  display: block;
  align-self: start;
  width: 100%;
  height: 100%;
  margin-left: 1rem;

  .tx-outputs-container-main {
    .tx-outputs-container {
      display: block;
      align-self: start;
      width: 100%;
      height: 100%;

      .tx-outputs-container-box {
        background-color: #ccc;
        padding: 1rem;
        border-radius: 0.375rem;
        margin-top: 0.5rem;

        .tx-outputs-header {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .tx-outputs-container-index {
            font-size: 1rem;
            font-weight: 600;
          }

          .tx-outputs-container-close-icon {
            color: #e9ebf0;
            background: #292d33;
            width: 2rem;
            height: 2rem;
            border-radius: 6px;
            justify-content: center;
            align-items: center;
            display: flex;
          }
        }
      }
    }
  }

  .tx-outputs-container-button {
    width: 100% !important;
    margin: 1rem 0;
    background-color: #ccc !important;
    color: #292d33 !important;
    font-size: 1rem !important;
    font-weight: 600 !important;

    &:hover {
      color: #e9ebf0 !important;
      background-color: #3c3f43 !important;
    }
  }
}
