.tx-template-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.25rem #d6d6d6 solid !important;

  .tx-template-footer-items {
    margin: 0.35rem 0.5rem;
    width: 25%;

    .rs-input {
      background-color: #fff !important;
      color: #292d33 !important;
      border: 1px solid #ccc;
    }
  }
}
