.script-editor-header-bar {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  width: 100%;

  .route-button {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 50% !important;
    background: #292d33;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sponsor-button {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 50% !important;
    background: #292d33;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .script-editor-header-left-section {
    display: flex;
    width: 35rem;
    justify-content: space-between;
    align-items: center;

    .script-wiz-logo {
      width: 3rem;
      margin-left: 1rem;
    }

    .script-editor-header-icon-item {
      color: #fff !important;
      display: flex;
      align-items: center;

      .script-editor-header-icon-item-text {
        margin-left: 0.5rem;
      }
    }
  }

  .script-editor-header-right-section {
    display: flex;
    align-items: center;

    .script-editor-header-right-section-dropdown {
      min-width: 11rem;
      .rs-btn-subtle:active {
        background-color: transparent !important;
      }
      .rs-btn-subtle:hover {
        background-color: transparent !important;
      }
      .rs-btn-subtle:focus {
        background-color: transparent !important;
      }
      .rs-btn {
        background: #10141a;
        color: #a4a9b3;

        &:hover {
          color: #e9ebf0;
        }
      }
    }
  }

  .npm-div {
    align-items: center;
    display: flex;
    text-decoration: none;
  }
}
